lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.idea

pids
logs
results

npm-debug.log
yarn-error.log
node_modules
build

config/database.js
config/auth.js
.idea/
.env
serverlocal.js
.vscode/launch.json
